* {
    font-family: 'Spartan', sans-serif;
}

body {
    background-color: lightgray;
}

input {
    width: 450px;
    height: 30px;
    font-size: 16px;
}

button {
    height: 35px;
    width: 44px;
    position: absolute;
    color: white;
    border: none;
    background-color: grey;
}

.sender {
    margin: 5px;
}

#login {
    margin-top: 20px;
    text-align: center;
}

#chat {
    width: 500px;
    height: 500px;
    margin: 30px auto;
    position: relative;
    background: white;
    box-shadow: 5px 5px 5px darkgrey;
    visibility: hidden;
}

#messages {
    width: 100%;
    height: 444px;
    overflow: auto;
    padding: 10px 0;
}

#message-input {
    bottom: 0;
    left: 0;
    position: absolute;
}

#send-button {
    right: 0;
    bottom: 0;
}
